<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">



	<aop:aspectj-autoproxy />
	<bean id="circle" class="org.javabrains.model.Circle">
		<!-- <property name="name" value="Circle Name"></property> -->
	</bean>

	<bean id="triangle" class="org.javabrains.model.Triangle">
		<property name="name" value="Triangle Name"></property>
	</bean>

	<bean name="loggingAspect" class="org.javabrains.aspect.LoggingAspect" />
	

	<aop:config>
		<aop:aspect id="loggingAspect" ref="loggingAspect">
			<!-- <aop:pointcut id="allGetters" expression="execution(* get*(..)))" />
			<aop:around pointcut-ref="allGetters" method="myAroundAdvice" /> -->
			<aop:around pointcut="execution(* get*(..)))" method="myAroundAdvice" />
		</aop:aspect>
	</aop:config>

	<bean id="shapeService" class="org.javabrains.service.ShapeService"
		autowire="byName" />


</beans>